.container {
  background-color: rgba(66, 66, 66, 0.753);
  position: fixed;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.container > form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 30vmax;
  min-height: 60vh;
  border-radius: 10px;
  padding-top: 2vmax;
}

.container > div {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.container > form > input {
  padding: 1vmax;
  margin: 1vmax;
  border-radius: 10px;
  font-size: 1.4vmax;
}

.container > form > button {
  padding: 1vmax;
  margin: 1vmax;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .container > form {
    width: 80vw;
  }
}
