.container {
  background-color: rgba(35, 34, 34, 0.753);
  position: fixed;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
}

.container > form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 30vmax;
  min-height: 60vh;
  border-radius: 10px;
  /* padding-top: 2vmax; */
}

.container > div {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.container > form > input {
  padding: 1vmax;
  margin: 1vmax;
  margin-top: 0.5vmax;
  border-radius: 10px;
  font-size: large;
  /* border-color: gray; */
  border: 1px solid gray;
}

.container > form > button {
  padding: 1vmax;
  margin: 1vmax;
  border-radius: 10px;
  background-color: orange;
  border: none;
  color: white;
  font-size: large;
}
.container > form > button:hover {
  background-color: chocolate;
}

@media screen and (max-width: 800px) {
  .container > form {
    width: 80vw;
  }
  .container > form > input {
    padding: 2vmax;
    margin: 2vmax;
  }
  .container > form > button {
    font-size: medium;
  }
}
